diffusers==0.31.0
modelscope==1.37.1
transformers==4.49.0
tokenizers==0.21.4
peft==0.14.0
huggingface-hub==0.30.2
datasets==2.21.0
fsspec==2024.6.1
opencv-python-headless==4.10.0.84
omegaconf==2.3.0
addict==2.4.0
oss2==2.19.1
simplejson
sortedcontainers
easydict
ftfy
einops
av
PyYAML
sentencepiece
Pillow
lpips
